html {
	background-color: #000000;
	color: white;
	font-family: Rubik, sans-serif;
}
div.kontener
{
	 max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}
div.baner {
	text-align: center;
	width: 100%;
	height: 15%;
}
header img
{
	 width: 1920px;
  height: 200px;
   object-fit: cover;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
ul.pasek 
{
	float:left;
	width: 100%;
	height: 8%;
	background-color: #d61053;
	gap: 10%;
}
ul.pasek li a 
{
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}
ul.pasek li a:hover 
{
  background-color:#11a1e4;
  color: #f1f1f1;
}
footer
{
	width: 100%;
	height: 15%;
}
main 
{
	width: 100%;
	height: 54%;
}
div.pasek
{
	float:left;
	width: 100%;
	height: 8%;
	background-color: #d61053;
}
div.pasek1
{
	float:left;
	width: 100%;
	height: 8%;
	background-color: #11a1e4;
}
h3.kontakt
{
	text-align: center;
	font-size: 170%;
}
p.kontakt
{
	word-spacing: 5%;
	text-align: center;
	font-size: 170%;
  line-height: 1.5;
}
p.stopka
{
	font-size: 100%;
	text-align: center;
}